<!-- Button to show JSON result -->
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show configuration (JSON)
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="row mb-3" style="color: white">
        <div class="col col-md-6" >
            <div class="card" style="background-color: #333">
                <br>
                <a
                    style="text-decoration: none; color: #cccccc"
                    target="_blank"
                    href="https://github.com/netdevopsbr/netbox-proxbox/blob/develop/netbox_proxbox/__init__.py"
                >
                    <h2 align=center>Configuration (PLUGINS_CONFIG)</h2>
                </a>
                
                <div class="card-body">
                    <pre>{{ configuration_json }}</pre>
                </div>
            </div>
        </div>
        
        <div class="col col-md-6" style="color: white">
            <div class="card" style="background-color: #333">
                <br>
                <a
                    style="text-decoration: none; color: #cccccc"
                    target="_blank"
                    href="https://github.com/netdevopsbr/netbox-proxbox/blob/develop/netbox_proxbox/__init__.py"
                >
                    <h2 align=center>Default Config</h2>
                </a>
                
                <div class="card-body" style="color: white">
                    <pre>{{ default_config_json }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>